<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.dubbo"></context:component-scan>
    <!--mvc注解驱动，自动加载ReuestMappingHandlerMapping(处理映射器)
和RequestMappingHandlerAdapter(处理适配器)-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--服务消费方信息-->
    <dubbo:application name="consumer"></dubbo:application>
    <!--<dubbo:protocol port="20881" name="dubbo"></dubbo:protocol>-->
    <!--注册中心地址-->
    <dubbo:registry address="zookeeper://192.168.157.135:2181?backup=192.168.157.135:2182,192.168.157.135:2183"></dubbo:registry>
    <!--指定要注册的功能-->
    <dubbo:reference interface="com.dubbo.DubboService" id="dubboServiceImpl"></dubbo:reference>
</beans>